.heading
{
    margin-left: 46%;
    font-size: 18px;
    font-family: system-ui;
}
.fontstyle
{
    font-size: 14px;
    font-family: system-ui;
}
.fontheader
{
    font-size: 19px;
    font-family: system-ui;
}

.profilediv
{
    border-radius: 4px;
    margin: 15px 10px 5px 9px;
    padding: 4px 14px 4px 12px;
    background-color: #80808021;
    font-size: 12px;
    font-family: system-ui;
}
