<li><a routerLink="/linkedin-entry" routerLinkActive="active">Home</a></li>
<p class="heading">My Profile</p>
<div class="maindiv1">
   
    <div class="profilediv">
     <p class="fontheader">Rashmi KC</p>   
     <p class="fontstyle"> Full Stack developer at Collabera| C# . net| Angular</p>     
     <p class="fontstyle">  Bangalore Urban, Karnataka, India  Contact info</p>     
    </div>

    <div class="profilediv">
       <p class="fontheader"> Experinece :</p>
        
          <p class="fontstyle">  Designation: Full Stack Developer</p>
          <p class="fontstyle">Company Name : Collabera Inc.</p>
          <p class="fontstyle">Duration :2yrs 2 mon</p>
          <p class="fontstyle"> Location : Bengaluru Area, India</p>
       
        </div>
        
        <div class="profilediv">
            <p class="fontheader"> Education :</p>
            <p class="fontstyle">MCA</p>
        </div>
        <div class="profilediv">
            <p class="fontheader"> Skills :</p>
            <p class="fontstyle">.Net</p>
            <p class="fontstyle">SQL</p>
            <p class="fontstyle">Angular</p>
        </div>
</div>